<!DOCTYPE html>
<!--
PRODYNA PAC 2015 - Time Tracker
Anastasios Patrikis
-->
<div ng-hide="isLoggedIn">
    <h1>Login</h1>
    <form name="loginFrm" ng-disabled="dataLoading">
        <label ng-hide="isLoggedIn">E-Mail<input required type="text" ng-model="loginEmail" ng-pattern="/.{5,}/" placeholder="min 5"></label>
        <label ng-hide="isLoggedIn">Password<input required type="password" ng-model="loginPassword" ng-pattern="/.{4,}/" placeholder="min 4"></label>
        <button ng-disabled="!loginFrm.$valid" ng-click="loginButton()">Login</button>
    </form>
    <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
    <div ng-show="error" class="alert alert-danger">{{error}}</div>
</div>

<div ng-show="isLoggedIn">
    <h1>Navigation</h1>
    <ul class="menu">
        <li ng-repeat="e2r in whoAmI.employeeRoles">
            <a ng-href="#/{{e2r.roleName}}">{{e2r.roleName}}</a>
        </li>
    </ul>
</div>
